<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="theme-color" content="#7952b3">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #f4f4f4
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            @if (ViewData["LayoutType"] as string == "Manage") {
                <div class="col-md-10 mx-auto">
                    <div class="card border-0 shadow rounded-3 my-3 my-md-5">
                        <div class="card-body p-4 p-sm-5">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card border-0 shadow rounded-3 my-5">
                        <div class="card-body p-4 p-sm-5">
                            <h5 class="card-title text-center mb-5 fw-bold fs-5">@ViewData["Title"]</h5>
                            @RenderBody()
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
