body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
  right: 0;
  */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #727272;
    }

    .sidebar .nav-link.active {
        color: #2470dc;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }


@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }

        .offcanvas-collapse.open {
            visibility: visible;
            transform: translateX(-100%);
        }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        color: rgba(255, 255, 255, .75);
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

    .nav-underline .nav-link:hover {
        color: #007bff;
    }

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.bg-purple {
    background-color: #6f42c1;
}

.text-two-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* FANCY TABLE */
.table-cell-fit {
    width: 1%;
    white-space: nowrap;
}
table.posts-table {
    background: #fff;
}

.posts-table > thead > tr {
    position: sticky;
    z-index: 2;
    top: 0;
    background: #fff;
}

    .posts-table > thead > tr > th {
        border-bottom: 1px solid #e6e9eb;
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: .03em;
        color: #15171a;
        padding: 10px 20px;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .posts-table > tbody > tr {
        position: relative;
    }

        .posts-table > tbody > tr > td {
            vertical-align: middle;
            padding: 16px 20px;
            border-top: 1px solid #ebeef0;
            transition: none !important;
            font-size: 1rem;
        }

.posts-table .posts-table-name > p {
    margin: 0 0 1px;
    font-size: 0.9rem;
    overflow-wrap: break-word;
    color: #626d79;
}

@media (max-width: 1200px) {
    .posts-table > thead > tr > th {
        display: none;
    }

    .posts-table > tbody > tr {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #ebeef0;
        margin: 0;
    }

    .posts-table .posts-table-name {
        display: block;
        /*order: 2;*/
        flex: 1 1 100%;
        border: none;
        padding: 20px 28px 4px 0px;
    }

    .posts-table .posts-table-checker {
        display: none;
    }

    .posts-table .posts-table-status {
        display: inline-block;
        border: none;
        padding: 0 4px 20px 0;
        font-size: 0.9rem;
        max-width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.entry-meta {
    font-size: 0.9rem;
    color: #abb4be;
}

.sticky-option {
    position: sticky;
    top: 64px;
}