@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }

    ViewData["LayoutType"] = "Manage";
}
<div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
    </div>
        <div class="col-md-9 mt-4 mt-md-0">
        @RenderBody()
        </div>
    </div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
