@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-5">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email"/>
        <label asp-for="Input.Email"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="d-grid">
    <button type="submit" class="btn btn-primary btn-login text-uppercase fw-bold">Reset Password</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
